*{
    margin: 0;
    padding: 0;
}

header {    
    background-color: rgb(240, 240, 54);
    color: rgb(201, 38, 38);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

    .cabecalho-imagem{
         width: 10%; 
    }

    .cabecalho-lista-item{
        display: inline-block;
        font-size: 24px;
        margin: 0 16px
    }
